{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Большой ассортимент товаров!">
    <link type="text/css" href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <h3>лого магазина</h3>
                <button class="button">
                    <svg viewBox="0 0 24 24" width="30" height="30">
                        <path d="M3 6h18v2H3z"></path>
                        <path d="M3 11h18v2H3z"></path>
                        <path d="M3 16h18v2H3z"></path>
                    </svg>
                    <span class="">Каталог</span>
                </button>
                <input class="search" name="q" type="search" enterkeyhint="search" placeholder="Поиск по сайту"
                    autocomplete="off" style="width: 600px;">
                <a href="{% url 'cart' %}">
                    <div class="">Корзина</div>
                </a>
                <a href="{% url 'login' %}">
                    <div class="">Войти</div>
                </a>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <a href="{% url 'about' %}">
                <p>О компании</p>
            </a>
        </footer>
    </div>

</body>

</html>