{% load static %}

<head>
    <title>интернет магазин</title>
    <meta charset="utf-8">
    <meta name="description" content="Большой ассортимент товаров!">
    <link type="text/css" href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <header>
        <nav>
            <h3>лого магазина</h3>
            <button class="button">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path class="l1" d="M3 6h18v2H3z"></path>
                    <path class="l2" d="M3 11h18v2H3z"></path>
                    <path class="l3" d="M3 16h18v2H3z"></path>
                </svg>
                <span class="">Каталог</span>
            </button>
            <input class="" name="q" type="search" enterkeyhint="search" placeholder="Поиск по сайту"
                autocomplete="off">
        </nav>
    </header>

</body>